/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@300;400;500;600;700;800;900&display=swap');

html,
body {
	background: #ffd900;
	font-size: 80%;
	height: 100%;
	margin-bottom: -20px;
}

#home {
	background: #ffd900;
	font-size: 80%;
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

#cover {
	background: #ffd900;
}

.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}

div:not(:last-child) {
	margin-top: 20;
}

div:not(:first-child) {
	margin-top: 20px;
}

/* only used for background overlay not needed for centering */
.col-sm {
	background-color: rgba(0, 0, 0, 0.3);
	/* z-index: -1; */
	border-radius: 10px;
}

#emoji {
	max-width: 10%;
	max-height: 10%;
	display: block; /* remove extra space below image */
}

/* fonts */
#homeTitle {
	font-family: 'Barlow', sans-serif;
	font-weight: 700;
	letter-spacing: -2px;
}

#title {
	font-family: 'Barlow', sans-serif;
	font-weight: 600;
	letter-spacing: -2px;
}

#subTitle {
	font-family: 'Barlow', sans-serif;
	font-size: 30px;
	font-weight: 500;
	letter-spacing: -1px;
}

#instruction {
	color: #321457;
}

.friend {
	color: #8064a2;
	font-weight: 600;
}

div {
	font-family: 'Barlow', sans-serif;
}

label {
	font-family: 'Barlow', sans-serif;
	font-size: 13px;
}

footer {
	color: #8064a2;
}

/* button properties */
.btn-primary,
.btn-primary:hover,
.btn-primary:active,
.btn-primary:visited {
	background-color: #8064a2 !important;
	border: none;
}

.btn:focus,
.btn:active {
	outline: none !important;
	box-shadow: none;
}

@media screen and (max-width: 1200px) {
	#title, #subTitle {
	  font-size: 30px;
	}
  }